name: CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMG: ghcr.io/${{ github.repository }}

jobs:

  build:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://github.com

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

      # Don't run this since PR does not have access to secrets. 
      # Let the make docker-build generate the temp. key
    - name: Setup signing key
      if: ${{ github.event_name != 'pull_request' }}
      run: |
        echo "$PRIVATE_KEY_PEM" > enclave-config/privatekey.pem
        sha256sum enclave-config/privatekey.pem
      shell: bash
      env:
        PRIVATE_KEY_PEM: ${{ secrets.PRIVATE_KEY_PEM }}

    - name: Login to the container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build
      run: make docker-build

    - name: Push
      if: ${{ github.event_name != 'pull_request' }}
      run: make docker-push
