name: Security Scanning

on:
  workflow_call:
    inputs:
      service:
        description: Name of the service
        type: string
        required: false
        default: ${{ github.repository }}

jobs:
  snyk:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://github.com

    steps:    
    - name: Checkout
      uses: actions/checkout@master

    - name: Set Up Snyk
      uses: snyk/actions/setup@master

    - name: Run Snyk to check for vulnerabilities
      continue-on-error: true
      uses: snyk/actions/golang@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:   
        args: --sarif-file-output=/github/workspace/snyk.sarif

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@v2
      with:
       sarif_file: /github/workspace/snyk.sarif

  codeQL:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://github.com

    steps:    
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: go

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

    - name: Upload result to GitHub Code Scanning
      if: ${{ github.event_name != 'pull_request' }}
      uses: github/codeql-action/upload-sarif@v2
      with:
          sarif_file: results.sarif
          wait-for-processing: true
